@keyframes success {
    0% {
        background-image: url('../../public/success.svg');
    }

    95% {
        background-image: url('../../public/success.svg');
    }

    100% {
        background-image: url('../../public/copy.svg');
    }
}


.root {
    color: inherit;
    background: inherit;

    padding-right: 30px;
    background: no-repeat right center url('../../public/copy.svg');
}

.hasAnimation {
    animation: success 4s ease-in-out;
}