.root {
  display: block;

  margin: 10px;
}

.button {
    background-color: #555555;
    border: 2px solid white;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
.button:not(:last-child) {
  border-bottom: none;
}

.input {
  border-radius: 4px 0 0 4px;
  margin-right: -5px;
}

.button:hover {
  color: white;
}

.joining {
    display: flex;
}

#input {
    width: 70%;
}