.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.total_power {
    position: absolute;
    font-size: 15em;
    left: 50%;
    top: 50%;
    opacity: 10%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
